body{
  background-color: teal;
}
.container{
  width:40%;
  height: 70%;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  text-align: center;
  background-color: #f7fbe1;
  border: 1rem  solid black;
  padding: 3rem;
}
#val{
  font-size: 10rem;
}
button{
  padding: 5%;
  font-size: 1rem;
}
